<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">    <title>
      Covid
    </title>
  </head>
  <Body class="bg">
    <div >
        <div class="w3-container w3-black w3-center w3-allerta">
      <header class="w3-xxxlarge">
        <h1> Corona Case Update In India  
        <button type="button" class="btn btn-primary"  style="float: right;"  (click)="onRefresh()">Refresh </button> </h1>
      </header>
      </div>
      <div class="srchform">
      <form class="form-inline waves-light" (ngSubmit)="onSearch()" #f="ngForm" >
          <div class="md-form mt-0">
            <input 
            class="form-control mr-sm-2" 
            type="text" 
             id = "filter" 
             ngModel 
             name="filter" 
              placeholder="filter"
              required>
            <button type="submit" class="btn btn-success" [disabled]="!f.valid"> Search </button>
            <p *ngIf="!f.valid"> Enter a state to search</p>
          </div>
        </form>

          </div>
        <!-- <div *ngIf="submitted">
          <p>Data is: </p>
        </div> -->
    </div>
    <div  class="container desc_1">
      <h5>Active Cases: {{data.activeCases}} </h5>
      <h5> Recovered: {{data.recovered}} </h5>
      <h5> Deaths: {{data.deaths}} </h5>
      <h5>Total Cases: {{data.totalCases}} </h5> 
    </div>  
    <div class="mainhead2">
          <h2>States Wise: </h2>
     </div>
      <div *ngFor="let state of TableData" class="container desc">
          <p *ngIf="data.length < 1">No Data available! Click on the refresh button.</p>
            <h3> {{ state.region }} </h3>
             <p>Total Infected: {{state.totalInfected}}</p>
             <p>Total recovered: {{state.recovered}}</p>
             <p>Total deceased: {{state.deceased}}</p>
             <p>Total Cases: {{state.totalCases}}</p>
      </div>
      <footer>
          <p>Source data: {{data.sourceUrl}} </p>
          <p> Last updated: {{data.lastUpdatedAtApify}}</p>
      </footer>
  </Body>
</html>